//$color__primary: #5867dd;
//$color__success: #0abb87;
//$color__warning: #ffb822;
//$color__danger: #fd397a;
//$color__info: #5d78ff;
$color__primary: #7E57C2;
$color__success: #9CCC65;
$color__warning: #FFCA28;
$color__danger: #EC407A;
$color__info: #29B6F6;
$color__secondary: #e2e5ec;
$color__text: #434349;
$color__main: #646c9a;

$color__header-background: #1e1c2d;
$color__header-color: #a2a3b7;
$color__header-hover: #1b1928;

$color__background: #f2f3f8;

$border__content: 0.25rem;
$border__circle: 100rem;